 
    .image-container {
            position: relative;
    }

    .azul{
      color:  #182d80;
      font-family: 'Segoe UI'  ;
      font-weight: bold;
    }
    .image {
        opacity: 1;
        display: block;
        width: 100%;
        height: auto;
        transition: .5s ease;
        backface-visibility: hidden;
    }
        .middle {
            transition: .5s ease;
            opacity: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            text-align: center;
        }


        .btn-group-xs > .btn, .btn-xs {
          padding: .50rem .4rem;
          font-size: .875rem;
          line-height: .5;
          border-radius: .2rem;
        }

        .dropdown:hover>.dropdown-menu {
            display: block;
        }

        .tg-site-header .tg-site-header-top {
            background-color: #bd1f25;
            background-repeat: repeat;
            background-position: center center;
            background-size: contain;
            background-attachment: scroll;
        }

  

        #agenda {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        #avatar {
            vertical-align: middle;
            width: 130px;
            height: 150px;
            border-radius: 10%;
        }
        #login {
            border-style: solid;
        }
          .example-8 {
              height:auto !important;
              width:160px !important;
          }
          .d-none {
            display: none!important;
       }
        @media  only screen and (max-width: 768px) {
            .d-md-block {
                display: block!important;
             }
             #img2 {
                display: none!important;
             }     
        #ocultar {
            display: none;
        }
        @media  only screen and (max-width: 900px) {

            #ocultar {
                display: none;
            }
            .d-md-block {
                display: block!important;
             }
             #img2 {
                display: none!important;
             }  
        }
        @media  only screen and (max-width: 500px) {
            #img2 {
                display: none!important;
             }  
        #ocultar {
            display: none;
        }
        .d-md-block {
            display: block!important;
         }
        }
        #facebook {
            overflow:hidden;
            padding-bottom:56.25%;
            position:relative;
            height:0;
        }

        #facebook-responsive iframe {
            left:0;
            top:0;
            height:200%;
            width:100%;
            position:absolute;
        }
        .list-group-hover .list-group-item:hover {
            background-color: #f5f5f5;
        }
    }